.TitleList{
    display:flex;
    flex-direction: row;
}

.Groups{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align:justify;
    padding-right: 25px;
}

.studentListBtn{
    display:flex;
    flex-direction: row;
}

.studentTable{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    padding-right: 25px;
  
}

.student-card{
    display:block;
    text-align: center;
    width: 1000px;
    height:auto;
    padding: 25px 100px 25px 100px;
    border: 3px dashed rgb(10, 103, 24);
    background: #eaf6ed;
    margin :auto;
    margin-bottom: 5px;


background-clip: border-box;
 }


 .student-card1{
    display:center;
    text-align: left;
    width: 1000px;
    margin: auto;
    height:auto;
    padding: 25px 100px 25px 100px;
    border: 3px dashed  rgb(230, 158, 58);
    background: #eaf6ed;
    margin :auto;
    margin-bottom: 30px;

background-clip: border-box;
 }

.lion-btn{
    background-color: rgb(206, 177, 82);
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: black;
    width : 100%;
    margin-block: 10px;
}

.lion-btn:hover{
    background-color: rgb(224, 201, 125);
}

.lion-btn:active{
    background-color: rgb(173, 143, 44);
    box-shadow: 2px rgb(200, 200, 206);
    transform: translateY(2px);
}

.fox-btn{
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: black;
    width : 100%;
    margin-block: 10px;
}

.fox-btn:hover{
    background-color: rgb(237, 201, 109);
}

.fox-btn:active{
    background-color: darkorange;
    box-shadow: 2px rgb(200, 200, 206);
    transform: translateY(2px);
}

.otter-btn{
    background-color: rgb(64, 179, 224);
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: black;
    width : 100%;
    margin-block: 10px;
}

.otter-btn:hover{
    background-color: rgb(128, 201, 229);
}

.otter-btn:active{
    background-color: rgb(29, 122, 159);
    box-shadow: 2px rgb(200, 200, 206);
    transform: translateY(2px);
}

.panda-btn{
    background-color: rgb(32, 30, 30);
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: black;
    width : 100%;
    margin-block: 10px;
}

.panda-btn:hover{
    background-color: rgb(79, 77, 77);
}

.panda-btn:active{
    background-color: black;
    box-shadow: 2px rgb(200, 200, 206);
    transform: translateY(2px);
}

