.studentList{
    display:flex;
    flex-direction: row;
}

.studentTable{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
}

.student-card{
    display:block;
    width : 100%
}

.lion-btn{
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border-color: black;
    width : 100%;
    margin-block: 10px;
}

.lion-btn:hover{
    background-color: rgb(237, 201, 109);
}

.lion-btn:active{
    background-color: darkorange;
    box-shadow: 2px rgb(200, 200, 206);
    transform: translateY(2px);
}